.hero {
  position: relative;
  height: 100vh;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("../images/bg-hero.jpg") no-repeat center center/cover;
  background-attachment: fixed; /* Fixed background */
  color: var(--text-color);
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.hero-content {
  animation: fadeIn 1.5s ease-in-out;
}

.hero-title {
  font-size: 3rem;
  font-weight: 700;
  margin: 0;
  color: var(--secondary-color);
}

.hero-subtitle {
  font-size: 1.5rem;
  margin-top: 10px;
}

.cta-button {
  margin-top: 20px;
  padding: 10px 20px;
  font-size: 1rem;
  font-weight: 600;
  color: var(--primary-color);
  background-color: var(--secondary-color);
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.cta-button:hover {
  background-color: #ff6b81;
}

/* Animation */
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* Responsive Design */
@media (max-width: 768px) {
  .hero-title {
    font-size: 2rem;
  }

  .hero-subtitle {
    font-size: 1rem;
  }

  .cta-button {
    font-size: 0.9rem;
    padding: 8px 16px;
  }
}
