.products {
  padding: 20px;
  background-color: #f9f9f9;
  font-family: "Arial", sans-serif;
}
.product-name {
  color: #000;
}
.product-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 20px;
}

.product-card {
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
  padding: 15px;
  transition: transform 0.3s ease;
}

.product-card:hover {
  transform: translateY(-5px);
}

.product-image {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-radius: 8px;
}

.product-details-modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  border-radius: 8px;
  width: 70%;
  max-width: 800px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  z-index: 1000;
  padding: 20px;
}

.product-details-content {
  display: flex;
  gap: 20px;
}

.details-image-section {
  flex: 1;
}

.details-image {
  width: 100%;
  border-radius: 8px;
  object-fit: contain;
}

.color-options {
  display: flex;
  gap: 10px;
  margin-top: 15px;
}

.color-button {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 2px solid transparent;
  cursor: pointer;
  transition: transform 0.3s ease;
}

.color-button.active {
  border-color: #000;
}

.details-info {
  flex: 2;
}
.details-info h2 {
  color: #000;
}

.details-price {
  font-size: 1.5rem;
  color: #ff4757;
}

.dropdowns {
  display: flex;
  gap: 10px;
  margin: 20px 0;
}

.dropdown {
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  font-size: 1rem;
}

.add-to-bag-button {
  background-color: #000;
  color: #fff;
  padding: 15px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.add-to-bag-button:hover {
  background-color: #333;
}
