body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

.App {
  text-align: center;
}

/* src/App.css */
.app {
  background-color: #121212;
  color: #e0e0e0;
  min-height: 100vh;
  font-family: Arial, sans-serif;
}
