:root {
  --primary-color: #1a1a1a; /* Dark background */
  --secondary-color: #ff4757; /* Neon red for accents */
  --text-color: #ffffff; /* White text */
  --font-family: "Poppins", sans-serif;
}
html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: var(--font-family);
  background-color: var(--primary-color);
  color: var(--text-color);
}

a {
  text-decoration: none;
  color: inherit;
}
